@import url('https://fonts.googleapis.com/css2?family=Barlow+Semi+Condensed:wght@600;700&display=swap');

* {
  box-sizing: border-box;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: 'Barlow Semi Condensed', sans-serif;
  color: floralwhite;
  height: 100vh;
  text-transform: uppercase;
  background: radial-gradient(
    farthest-corner at top,
    hsl(214, 47%, 23%) 6%,
    #192647 50%
  );
}

.container {
  background-color: inherit;
  border: 3px solid #5c6b86;
  border-radius: 12px;
  padding: 15px;
  text-align: center;
  max-width: 100%;
  width: 600px;
  position: fixed;
  top: 10%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

ul {
  list-style-type: none;
  font-size: 30px;
  text-align: left;
  align-content: flex-start;
  margin: 0;
  padding-left: 0px;
}

.scorebox {
  background-color: #fbfbfb;
  border: 0.5px solid #fbfbfb;
  border-radius: 8px;
  width: 125px;
  height: 100px;
  display: flex;
  flex-direction: column;
  align-items: center;
  line-height: 39px;
}

.bold {
  font-weight: 700;
}

.semiBold {
  font-weight: 600;
}

.scoreLabel {
  font-size: 15px;
  color: #555267;
  letter-spacing: 1.5px;
}

.score {
  font-size: 65px;
  color: #555267;
}

.rules {
  background-color: inherit;
  color: floralwhite;
  border: 2px solid #5c6b86;
  border-radius: 8px;
  text-align: center;
  width: 110px;
  height: 40px;
  letter-spacing: 1.5px;
  font-size: 12px;
  cursor: pointer;
}

footer {
  padding: 20px;
  position: fixed;
  bottom: 0;
  right: 0;
}

.hidden {
  display: none !important;
}

.upper {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
  height: 190px;
  margin-top: -100px;
}

.lower {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.step1 {
  background: url(images/bg-triangle.svg);
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  width: 470px;
  margin-top: 100px;
}

h1 {
  font-size: 17px;
  font-weight: 600;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  text-align: center;
  margin-bottom: 34.11px;
}

.step2 {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  width: 600px;
}

.loading {
  width: 160px;
  height: 160px;
  border-radius: 50%;
  background: linear-gradient(#eaeaea00 50%, #1a3660),
    linear-gradient(#1a3660, #19264700 50%);
  background-position: 0 0, 100% 0;
  background-size: 50% 100%;
  background-repeat: no-repeat;
  opacity: 0.7;
  animation: rota 3s infinite;
}

@keyframes rota {
  25% {
    transform: rotate(270deg);
  }
  50% {
    transform: rotate(90deg);
  }
  75% {
    transform: rotate(360deg);
  }
  100% {
    transform: rotate(180deg);
  }
}

.result {
  display: flex;
  flex-direction: column;
  align-items: inherit;
}

.replay {
  color: #162240;
  text-transform: uppercase;
  letter-spacing: 1.5px;
  font-size: 8px;
  border-radius: 5px;
  width: 120px;
  height: 25px;
  cursor: pointer;
  background-color: floralwhite;
  border: none;
  margin-top: 10px;
}

.replay:focus,
.rules:focus {
  outline: none;
}

.replay:active {
  color: #ac0032;
}

span {
  font-size: 35px;
}

/* Ripple Animation */
.ripple-effect {
  position: relative;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  height: 150px;
  width: 150px;
  border-radius: 100%;
  background: #fff;
  box-shadow: 0 0 20px 0 rgba(255, 255, 255, 0.2);
}

.ripple-effect > div {
  position: relative;
  font-size: 72px;
  top: 5px;
  left: -5px;
}

.ripple-effect::after {
  opacity: 0;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: -18px;
  left: -18px;
  right: 0;
  bottom: 0;
  content: '';
  height: 100%;
  width: 100%;
  border: 18px solid rgba(255, 255, 255, 0.2);
  border-radius: 100%;
  animation-name: ripple;
  animation-duration: 3s;
  animation-delay: 0s;
  animation-iteration-count: infinite;
  animation-timing-function: cubic-bezier(0.65, 0, 0.34, 1);
  z-index: -1;
}

.ripple-effect::before {
  opacity: 0;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: -18px;
  left: -18px;
  right: 0;
  bottom: 0;
  content: '';
  height: 100%;
  width: 100%;
  border: 18px solid rgba(255, 255, 255, 0.2);
  border-radius: 100%;
  animation-name: ripple;
  animation-duration: 3s;
  animation-delay: 0.5s;
  animation-iteration-count: infinite;
  animation-timing-function: cubic-bezier(0.65, 0, 0.34, 1);
  z-index: -1;
}

@keyframes ripple {
  from {
    opacity: 1;
    transform: scale3d(0.75, 0.75, 1);
  }
  to {
    opacity: 0;
    transform: scale3d(1.5, 1.5, 1);
  }
}

.flash-effect {
  border-radius: 100%;
  animation: flash linear 1s infinite;
}

@keyframes flash {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0.1;
  }
  100% {
    opacity: 1;
  }
}
