@import url('https://fonts.googleapis.com/css2?family=Barlow+Semi+Condensed:wght@600;700&display=swap');

* {
  box-sizing: border-box;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: 'Barlow Semi Condensed', sans-serif;
  color: floralwhite;
  height: 100vh;
  background: radial-gradient(
    farthest-corner at top,
    hsl(214, 47%, 23%) 6%,
    #192647 50%
  );
}

.container {
  background-color: inherit;
  border: 3px solid #5c6b86;
  border-radius: 12px;
  padding: 15px;
  text-align: center;
  max-width: 100%;
  width: 600px;
  position: fixed;
  top: 10%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

ul {
  list-style-type: none;
  font-size: 30px;
  text-align: left;
  align-content: flex-start;
  margin: 0;
  padding-left: 0px;
}

.scorebox {
  background-color: #fbfbfb;
  border: 0.5px solid #fbfbfb;
  border-radius: 8px;
  width: 125px;
  height: 100px;
  display: flex;
  flex-direction: column;
  align-items: center;
  line-height: 39px;
}

.bold {
  font-weight: 700;
}

.semiBold {
  font-weight: 600;
}

.scoreLabel {
  font-size: 15px;
  color: #555267;
  text-transform: uppercase;
  letter-spacing: 1.5px;
}

.score {
  font-size: 65px;
  color: #555267;
}

.rules {
  background-color: inherit;
  color: floralwhite;
  border: 2px solid #5c6b86;
  border-radius: 8px;
  text-align: center;
  width: 110px;
  height: 40px;
  letter-spacing: 1.5px;
  font-size: 12px;
}

.rules:active {
  outline: none;
}

footer {
  padding: 20px;
  position: fixed;
  bottom: 0;
  right: 0;
}

.hidden {
  display: none;
}

.visible {
  display: block;
}

.rock > .icon,
.paper > .icon,
.scissors > .icon {
  background: floralwhite;
  padding: 30px;
  border-radius: 100%;
  box-shadow: inset 0px 5px 1px 0px #b8bed2;
}

.rock {
  background: radial-gradient(
    farthest-corner at bottom,
    hsl(349, 71%, 52%) 60%,
    hsl(349, 70%, 56%) 80%
  );
  padding: 20px;
  border-radius: 100%;
  box-shadow: inset 0px -7px 0px 0px #9e1532;
}

.paper {
  background: radial-gradient(
    farthest-corner at bottom,
    hsl(230, 89%, 62%) 60%,
    hsl(230, 89%, 65%) 80%
  );
  padding: 20px;
  border-radius: 100%;
  box-shadow: inset 0px -7px 0px 0px #2945c3;
}

.scissors {
  background: radial-gradient(
    farthest-corner at bottom,
    hsl(39, 89%, 49%) 60%,
    hsl(40, 84%, 53%) 80%
  );
  padding: 20px;
  border-radius: 100%;
  box-shadow: inset 0px -7px 0px 0px #c76c1b;
}
